<head>
  <title><%= content_for?(:title) ? yield(:title) : "#CodeGoodSunday" %></title>
  
  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>
  
  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics' %>
</head>

<body class="codegood">

  <h1>#CodeGoodSunday</h1>

  <section>
    <h2>You've got superpowers. Use them for good.</h2>
    <h3>Join us in the “Coding for Good” movement and contribute to one of the many incredible open source projects. Here’s how:</h3>

    <ol>
      <li>Check out <a href="/">open source projects</a> on <a href="/projects">Code Montage</a>.</li>
      <li>Favorite the ones you like and take a peek at their tasks list.</li>
      <li>Join us on Twitter every Sunday @ 1PM EST and tweet what you're working on. </br>Use the hashtag #CodeGoodSunday and tell us what projects get you excited and how we can help!</li>
    </ol>
     

    <h3>For questions, tweet <a href="https://twitter.com/codemontage" class="twitter">@saronyitbarek</a> or <a href="https://twitter.com/saronyitbarek" class="twitter">@CodeMontage</a> with the hashtag #CodeGoodSunday.</h3> 
    <h3 class="signature">See you Sunday!</h3>

  </section>

</body>