<body>
  <section id="user_profile">
    <h4>Profile</h4>

    <div class="profile_details">
      <%= simple_form_for(@user_profile) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <h5>
            <%= f.input :name, :autofocus => true %>
            <%= f.input :headline %>
            <%= f.input :cause_list, :label => "Causes" %>
            <%= f.input :technology_list, :label => "Technologies" %>
          </h5>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update my Profile", :class => "tiny radius button" %>
        </div>
      <% end %>
    </div>

    <div class="email_preferences">
      <h5>Email Preferences</h5>
        <%= simple_form_for(@user_profile) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <p>
              <%= f.input :email_news, :label => " News and announcements from the CodeMontage team" %>
              <%= f.input :email_training, :label => " Upcoming CodeMontage training programs"  %>
            </p>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update my Email Preferences", :class => "tiny radius button" %>
          </div>
        <% end %>      
    </div>

  </section>
</body>
