<body>
  <h5>Account Settings</h5>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password, :autocomplete => "off", :placeholder => "(leave blank to keep your current password)", :required => false %>
      <%= f.input :current_password, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <%= render "devise/registrations/services" %>

  <%= link_to "Back", :back %>

</body>
