<h2>Sign up</h2>

<h5>Sign up manually below or <%= link_to "Sign up with Github!", "/auth/github" %></h5>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'captain.planet@gmail.com' %>
    <%= f.input :password, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
