<h2>Make a difference today. Sign Up!</h2>

<div class="large-5 columns">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true, :placeholder => 'captain.planet@gmail.com' %>
    <%= f.input :password, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", :class => "small radius button" %>
  </div>
  <% end %>
  
<%= link_to "Sign in", new_session_path(resource_name) %> | <%= link_to "Forgot your password?", new_password_path(resource_name) %>

</div>

<div class="large-1 columns align-center sign-up-or">
  <h2>OR</h2>
</div>

<div class="large-6 columns">
  <%= link_to '<i class="fi-social-github"></i>  Sign up with GitHub'.html_safe, "/auth/github", :class => "large radius index button home-signup" %>
</div>