<body>
  <div class="row">
    <div class="one column"></div>
    <div class="ten columns">
      <h4>Jobs</h4>
      
      <p>Full-time, paid opportunities for coders support making an impact on the world through software. View all <%= link_to "supporters", '#hiring_companies' %>.</p>

      <div class="jobs">
        <% @active_jobs.each do |job| %>
        <div class="job_post">
          <div class="job_headline row">
            <div class="six columns">
              <h6><%= link_to job.title, job.apply_url %> at <%= link_to job.organization.name, job.organization.url %></h6>
            </div>
            <div class="job_technologies six columns">
              <h6><%= "{ " + job.technology_list.to_s + " }" unless !job.technology_list.present? %></h6>  
            </div>
          </div>
          <div class="job_summary row">
            <div class="twelve columns">
              <p><%= job.overview %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      
      <div id="hiring_companies">
        <h6>Looking for something else?</h6>
        <p>Check out the companies below to find job opportunities for coders who make an impact.</p>
        <% @hiring_orgs.each do |org| %>
          <%= link_to image_tag(org.image_url, :alt =>org.name, :size => '75x150'), org.url, :target => '_blank' %>
        <% end %>
      </div>

    </div>
    <div class="one column"></div>
  </div>
</body>
