<%= image_tag('coder_day_badge_logo.png', :height => "300px") %>
<p>
  <ul>
    <li><%= link_to '<i class="social foundicon-chat"></i> '.html_safe + " Chat", 'http://tlk.io/codemontage', :target => '_blank' %></li>
    <li><%= link_to '<i class="general foundicon-globe"></i> '.html_safe + " Map (NYC)", coder_day_path, :target => '_blank' %></li>
    <li><%= link_to '<i class="general foundicon-clock"></i> '.html_safe + " Schedule", coder_day_path, :target => '_blank' %></li>
    <li><%= link_to '<i class="social foundicon-twitter"></i> '.html_safe + " #CoderDay", 'http://twitter.com/#coderday', :target => '_blank' %></li>
</p>
