<h3>Your Profile</h3>

<p>
  <strong>Name: </strong> <%= current_user.name %>
  <br>
  <strong>Headline: </strong> <%= current_user.headline %>
  <br><br>
  <strong>Skills: </strong> <%= current_user.technology_list %>
  <br>
  <strong>Causes: </strong> <%= current_user.cause_list %>
</p>

<%= link_to "Edit Profile", edit_user_registration_path %>
