<body>
  <% content_for :title do %>Coder Day of Service by CodeMontage<% end %>
  <div class="mlkday">
    <div id="mlkd_quote" class="row">
      <div class="twelve columns centered">
        <%= image_tag "codemontage_mlk_persistent.png", :alt => "Life's most persistent and urgent question is: What are you doing for others? - Martin Luther King, Jr." %>
      </div>
    </div>
    <div id="mlkd_welcome" class="row">
      <div class="six columns centered">
        <p><strong>Join us January 18, 2014 for a</strong></br>
          <span class="event_name">{Coder Day of Service}</span></br>
          powered by CodeMontage</p>
      </div>
    </div>
    <div id="mlkd_info" class="row">
      <div class="ten columns centered">
        <table>
          <tr>
            <td class="info_label">{Who}</td>
            <td><span><span class="info">Over 250 coders</span>, designers, nonprofits, and thought leaders coming together to <span class="info">Code for Good</span>.</td>
          </tr>
          <tr>
            <td class="info_label">{What}</td>
            <td><span>A day of coders building open source solutions to social problems the CodeMontage way: <span class="info">improving our skills by improving the world</span>.</td>
          </tr>
          <tr>
            <td class="info_label">{When}</td>
            <td><span>Saturday, January 18 of MLK Day Weekend 2014, along with the National Day of Service.</td>
          </tr>
          <tr>
            <td class="info_label">{Where}</td>
            <td><span>Launching in <span class="info">New York City</span>, available worldwide through the <span class="info">CodeMontage platform</span>.</td>
          </tr>
          <tr>
            <td class="info_label">{Why}</td>
            <td><span class="info">Giving forward</span> increases coder satisfaction, retention and skills development:
              <ul>
                <li>94% of people who volunteer their skills are happier in their jobs</li>
                <li>Skills-based volunteers are 142% more likely to report job-related skills-gains</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="mlkd_rsvp" class="row">
      <div class="six columns centered">
        <%= link_to "RSVP for the Coder Day of Service", "http://coderdayofservice.eventbrite.com/?utm_source=codemontage", :class => "large index radius button" %>
      </div>
    </div>
    <div id="mlkd_tags" class="row">
      <div class="five columns offset-by-one">
        <h6>Technologies Represented</h6>
        <p>HTML, CSS, CoffeeScript, JavaScript, Jekyll, Ruby, Rails, Sinatra, Python, Django, C#, Java, Node.js, PHP, CakePHP, CodeIgniter, Drupal, MySQL, PostgreSQL, Spring, Hibernate, Android, iOS, Chef</p>
      </div>
      <div class="five columns">
        <h6>Causes Represented</h6>
        <p>Civic Engagement, Education, Health, Human Rights, Human Trafficking, International Development, Microfinance, Open Data, Poverty Alleviation, Privacy, Security, Women and Girls&rsquo; Empowerment</p>
      </div>
      <div class="one column"></div>
    </div>
    <div id="mlkd_sponsors" class="row">
      <div class="ten columns centered">
        <h6>Sponsorship Opportunities</h6>
        <p>Ready to join our movement? We are actively seeking sponsors for the Coder Day of Service and would love to talk to you. Reach out to us at <%= mail_to "sponsorships@codemontage.com", "sponsorships@codemontage.com", :subject => "Interested in Coder Day of Service Sponsorship Opportunities" %></p>

        <h6>Coder Day of Service Sponsors</h6>
        <div class="sponsors row">
          <% @sponsors.each do |featured| %>
            <div class="four columns">
                <h5>
                <% if find_logo?(featured) %>
                  <%= link_to (image_tag find_logo(featured)), organization_path(featured) %>
                <% else %>
                  <%= link_to featured.name, organization_path(featured) %>
                <% end %>
                </h5>
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
  <% content_for(:press) do %>Press<% end %>
</body>
