<body>
	<% content_for :title do %>Code of Conduct<% end %>
  <h4>Code of Conduct for CodeMontage Events</h4>

  <p>CodeMontage is fully dedicated to diversity and inclusivity at all of its events and conferences. We are committed to creating a safe, welcoming, positive environment for all of our participants, and we welcome all attendees’ assistance in making this goal a reality both at this event and in the ongoing CodeMontage community.</p>

  <h5>Code of Conduct</h5>

  <p>Please treat other event attendees with respect and, whenever possible, kindness.</p>

  <p>We will not tolerate harassment of event participants, volunteers, or staff in any form. Harassment includes:
  	<ul class="listed">
  		<li>Offensive verbal comments related to gender, sexual orientation, race or ethnicity, disability, physical appearance, or religion.</li>
  		<li>Sexual images in public spaces.</li>
  		<li>Deliberate intimidation, stalking, or following.</li>
  		<li>Harassing photography or recording.</li>
  		<li>Sustained disruption of talks or other events.</li>
  		<li>Inappropriate physical contact.</li>
  		<li>Unwelcome sexual attention.</li>
  		<li>Personal intimidation and offensive verbal comments on the social media accounts of event participants as they relate to CodeMontage events and the CodeMontage community.</li>
  		<li>Taking photos of individuals and/or posting their likeness on social media without their permission, implicit or explicit. We admit this one is tricky. We fully support taking photos at the event and sharing them, but please use your best judgement when posting photos of people you do not know.</li>
  	</ul>
  </p>

  <p>Please refrain from demeaning, discriminatory, or exclusionary behavior, jokes, or speech both in-person and through digital communications related to CodeMontage projects or events.</p>

  <p><strong>If you are being harassed</strong>, notice that someone else is being harassed, or have any other concerns, please contact an event organizer immediately. Event organizers will be happy to help participants contact local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event.</p>

  <p><strong>If a participant engages in harassing behavior</strong>, the event organizers may take any action they deem appropriate, up to and including expulsion from the event without refund.</p>

  <p class="licensing"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The CodeMontage Code of Conduct</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> and was adapted from <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank">the example policy from the Geek Feminism wiki</a>, created by the Ada Initiative and other volunteers, and <a href="http://2010.osdc.com.au/code-conduct" target="_blank">the OSDC2010 Code of Conduct</a>.</p>

  <h5>Upcoming Events Utilizing This Code of Conduct:</h5>

  <% if @upcoming_events.present? %>
  <% @upcoming_events.each do |event| %>
    <p><strong>Event:</strong> <%= event.name %> &ndash; <%= event.start_date.strftime("%B %d, %Y") %> at <%= event.location %><br />
      <% if event.lead_organizer.present? %>
        <strong>Lead Organizer:</strong> <%= event.lead_organizer %>, <a href="mailto:<%= event.lead_email %>"><%= event.lead_email %></a><br />
      <% end %>
      <% if event.organizer.present? %>
        <strong>Organizer:</strong> <%= event.organizer %>, <a href="mailto:<%= event.organizer_email %>"><%= event.organizer_email %></a></p>
      <% end %>
  <% end %>
<% end %>

<p><strong>If you experience or witness any harassment at these events, please contact one of the organizers listed above.</strong></p>