<body>
  <div class="row">
    <div class="large-3 columns">
      <%= render 'home/dashboard/profile' %>
    </div>
    <div class="large-6 columns">
      <%= render 'home/dashboard/projects' %>
      <%= render 'home/dashboard/montage' %>
    </div>
    <div class="large-3 columns">
      <%= render 'home/dashboard/events' %>
    </div>
  </div>

  <% if current_user && @current_event && !current_user.events.include?(@current_event) %>
    <%= render "events/check_in_prompt" %>
  <% end %>
</body>
