<body>
  <section>
    <div id="mission" class="row">
      
      <div class="ten columns centered">
        <%= image_tag("cm_mission.png") %>
      </div>
      
    </div>
  <section>
  <section>
    <div id="coder_welcome" class="row">
      <div class="one column"></div>
      <div class="panel radius shadow ten column">

        <div class="six columns">
          <h2>Ready to change the world?</h2>
          <p>We believe <%= link_to 'coders can be superheroes', "http://devslovebacon.com/conferences/bacon-2013/talks/developers-are-superheroes-and-so-can-you" %>.</br>
            Join us to find open source, social impact projects that improve the world.</p>
        </div>
        <div class="six columns">
		    <% if user_signed_in? %>
          <%= link_to '<i class="general foundicon-website"></i> &nbsp;Start Coding Now'.html_safe, projects_path, :class => "large radius button home-signup" %>
        <% else %>
          <%= link_to '<i class="social foundicon-github"></i> Sign up with Github'.html_safe, "/auth/github", :class => "large radius button home-signup" %>
        <% end %>
        </div>

      </div>
      <div class="one column"></div>

      </div>
      <div class="one column"></div>
    </div>
  </section>
  <section>
    <div id="secondary_welcomes" class="row">
      <div class="one column"></div>
      <div id="org_welcome" class="five columns">
        <h3>Need help changing the world?</h3>
        <p>Interested in accelerating your organization's social impact with technology? <%= mail_to "projects@codemontage.com", "Submit your project today", :subject => "Social Impact Project for CodeMontage" %> or check out <%= link_to "our services", our_services_path %> to learn more about how open innovation can work for you.</p>
        <%= link_to "Social Mission Organization Services", our_services_path, :class => "small radius button" %>
      </div>
      <div id="company_welcome" class="five columns">
        <h3>Building a team of coders?</h3>
        <p>Have high potential employees ready to level up their coding skills? Ready to help your coders save the world? Check out <%= link_to "our programs", training_path %> for interns, apprentices, and teams.</p>
        <%= link_to "Technology Team Training Programs", training_path, :class => "small radius button" %>
      </div>
      <div class="one column"></div>
    </div>
  </section>
</body>
