<body>
  <h4>Welcome to CodeMontage!</h4>
  
  <h5>CodeMontage promotes open social innovation while helping coders improve their skills.</h5>

  <p><strong>Coders</strong> - Ready to code to change the world? Check out our <%= link_to "programs", training_path %> or browse our <a href="http://github.com/CodeMontage" target="_blank">projects</a> today.</p>

  <p><strong>Companies</strong> - Looking to hire or train developers? Check out our <%= link_to "programs", training_path %> or <%= mail_to "hello@codemontage.com", "contact us", :subject => "I want to train superhero developers" %> to learn about our internship, apprenticeship, and team programs.</p>

  <p><strong>Organizations</strong> - Interested in accelerating your impact with technology? Check out our <%= link_to "services", services_path %> and <%= mail_to "hello@codemontage.com", "reach out to us", :subject => "Interested in Open Social Innovation" %> to learn how open innovation can work for you.</p>

</body>