<body>
  <section>
    <div class="row">

      <div id="mission" class="ten columns centered row">
          <%= image_tag("left_curly.jpg", :class => "mobile-one two columns") %>
          <span class="mission_text mobile-two nine columns">
            <span id="cm_logo_code">{code}</span> 
            <span id="cm_logo_montage">montage</span> 
            empowers 
            <span id="coders" title="software developers, engineers, hackers, anyone who leverages computer programming">
              <strong>coders</strong>
            </span> 
            to improve their 
            <span id="impact" title="success, difference, good accomplished">
              <strong>impact</strong>
            </span> on the world.
          </span>
          <%= image_tag("right_curly.jpg", :class => "mobile-one two columns") %>
      </div>
      
    </div>
  </section>

  <section>
    <div id="coder_day" class="row">
      <div class="one column"></div>
      <div class="panel radius shadow ten column">
        <div class="three columns">
          <%= link_to (image_tag 'coder_day_badge_logo.png', :height => "400px"), coder_day_path %>
        </div>
        <div class="nine columns">
          <h2>Coder Day of Service 2014</h2>
          <p>Over 250 coders, designers, nonprofit representatives, and thought leaders will come together to code for good in NYC <strong>January 18, 2014</strong>. We're providing the tech industry's answer to the call of Martin Luther King Jr. and the <%= link_to 'National Day of Service', "http://mlkday.gov" %>. Will you be there? <%= link_to 'RSVP', "http://coderdayofservice.eventbrite.com" %>!</p>
        </div>
      </div>
      <div class="one column"></div>
  </div>
  </section>

  <section>
    <div id="coder_welcome" class="row">
      <div class="one column"></div>
      <div class="panel radius shadow ten column">

        <div class="six columns">
          <h2>Ready to change the world?</h2>
          <p>We believe <%= link_to 'coders can be superheroes', "http://devslovebacon.com/conferences/bacon-2013/talks/developers-are-superheroes-and-so-can-you" %>.</br>
            Join us to find open source, social impact projects that improve the world.</p>
        </div>
        <div id="sign_up" class="six columns">
		    <% if user_signed_in? %>
          <%= link_to '<i class="general foundicon-website"></i> &nbsp;Start Coding Now'.html_safe, projects_path, :class => "large radius button home-signup" %>
        <% else %>
          <%= link_to '<i class="social foundicon-github"></i> Sign up with Github'.html_safe, "/auth/github", :class => "large radius button home-signup" %>
        <% end %>
        <p>or, <%= link_to "sign up with an email address", new_user_registration_path %></p>
        </div>

      </div>
      <div class="one column"></div>

      </div>
      <div class="one column"></div>
    </div>
  </section>
  <section>
    <div id="secondary_welcome" class="row">
      <div class="one column"></div>
      <div id="org_welcome" class="five columns">
        <h3>Submit an open source project</h3>
        <p>Working on software to save the world? We'd love to help! Let us know the Github repository and we'll take it from there.</p>
        <%= link_to "Submit a Project", new_organization_path, :class => "medium radius button" %>
      </div>
      <div id="company_welcome" class="five columns">
        <h3>Support coding for social good</h3>
        <p>Want to hire or connect with superhero software developers? Reach out to learn about our Corporate Partnerships.</p>
        <%= mail_to "partnerships@codemontage.com", "Support Coders", :subject => "Interested in Corporate Partnership", :class => "medium radius button" %>
      </div>
      <div class="one column"></div>
    </div>
  </section>
  <% content_for(:press) do %>Press<% end %>
</body>
