<body>
  <section>
    <div id="mission" class="row">
      
      <div class="ten columns centered">
        <%= image_tag("cm_mission.png") %>
      </div>
      
    </div>
  <section>
  <section>
    <div id="coder_welcome" class="row">
      <div class="one column"></div>
      <div class="panel radius shadow ten column">

        <div class="six columns">
          <h2>Ready to change the world?</h2>
          <p>Tired of side projects that just don't matter? <%= link_to "Join our collective", training_path %> of do-gooder coders and choose an <%= link_to "open source project", projects_path %> to get started. Together we can change the world. </p>
        </div>
        <div class="five columns offset-by-one">
		<%= link_to '<i class="social foundicon-github"></i> Start Coding'.html_safe, user_signed_in? ? projects_path : new_user_registration_path, :class => "large radius button home-signup" %>
        </div>

      </div>
      <div class="one column"></div>

      </div>
      <div class="one column"></div>
    </div>
  </section>
  <section>
    <div id="secondary_welcomes" class="row">
      <div class="one column"></div>
      <div id="org_welcome" class="five columns">
        <h3>Need help changing the world?</h3>
        <p>Interested in accelerating your social impact with technology? Check out our <%= link_to "benefit services", our_services_path %> to learn how open innovation can work for you.</p>
        <%= link_to "Benefit Services", our_services_path, :class => "small radius button" %>
      </div>
      <div id="company_welcome" class="five columns">
        <h3>Building a team of coders?</h3>
        <p>Have high potential superheroes ready to level up their coding skills? Check out our <%= link_to "training programs", training_path %> for apprenticeships and teams.</p>
        <%= link_to "Training Programs", training_path, :class => "small radius button" %>
      </div>
      <div class="one column"></div>
    </div>
  </section>
</body>
