<body>
  <div class="row">
    <div class="one column"></div>
    <div class="ten columns">
      <h5>We're not the only ones trying to change the world.</h5>

      <p>CodeMontage believes in making no little plans. We help coders and social innovators build technology to improve the world. We help companies invest in what matters (people), and support important causes as they develop talent. We're ushering in a new era of diverse, collaborative coders who care about social impact. 
        </br></br>
        Thankfully, we're not alone. Below are some of the organizations working to address problems we care about, and we hope you'll support them, too.</p>

      <div>
        <h5>Learning to code?</h5>
        <ul class="inline-list">
          <li>Check out:</li>
          <li><%= link_to "Skillcrush", "http://skillcrush.com" %></li>
          <li><%= link_to "Code.org", "http://code.org" %></li>
          <li><%= link_to "Girl Develop It", "http://girldevelopit.com" %></li>
          <li><%= link_to "Codecademy", "http://codecademy.com" %></li>
          <li><%= link_to "CodeSchool", "http://codeschool.com" %></li>
        </ul>
        </br>
      </div>

      <div>
        <h5>Volunteering your tech skills?</h5>
        <ul class="inline-list">
          <li>Check out:</li>
          <li><%= link_to "Developers for Good", "http://developersforgood.org" %></li>
          <li><%= link_to "DataKind", "http://datakind.org" %></li>
          <li><%= link_to "SocialCoding4Good", "http://socialcoding4good.org" %></li>
          <li><%= link_to "Idealist", "http://idealist.org" %></li>
          <li><%= link_to "Code for America", "http://codeforamerica.org" %></li>
          <li><%= link_to "Community Corps", "http://www.thecommunitycorps.org" %></li>
          <li><%= link_to "Catchafire", "http://catchafire.org" %></li>
          <li><%= link_to "Random Hacks of Kindness", "http://rhok.org" %></li>          
          <li><%= link_to "Taproot", "http://taprootfoundation.org" %></li>
          <li><%= link_to "TheProBono", "http://theprobono.org" %></li>
        </ul>
        </br>
      </div>

      <div>
        <h5>Contributing to open source?</h5>
        <ul class="inline-list">
          <li>Check out:</li>
          <li><%= link_to "Mozilla", "http://www.mozilla.org/en-US/contribute" %></li>
          <li><%= link_to "Github", "http://github.com" %></li>
          <li><%= link_to "Open Hatch", "http://openhatch.org" %></li>
          <li><%= link_to "Open Source Bridge", "http://opensourcebridge.org" %></li>
        </ul>
        </br>
      </div>

      <div>
        <h5>Including more voices in technology?</h5>
        <ul class="inline-list">
          <li>Check out:</li>
          <li><%= link_to "Black Girls Code", "http://blackgirlscode.com" %></li>
          <li><%= link_to "CoderDojo", "http://coderdojo.org" %></li>
          <li><%= link_to "CodeNow", "http://codenow.org" %></li>
          <li><%= link_to "Girls Who Code", "http://girlswhocode.com" %></li>
          <li><%= link_to "CODE2040", "http://code2040.org" %></li>
          <li><%= link_to "NCWIT", "http://ncwit.org" %></li>
        </ul>
        </br>
      </div>

      <div>
        <h5>We &nbsp;<i class="general foundicon-heart" style="font-size: .8em;"></i>&nbsp; Collaboration</h5>
        <p>Changing open source, tech, education, remote collaboration, apprenticeship, mentorship, volunteering, or philanthropy for the better? Please <%= mail_to "hello@codemontage.com", "reach out", :subject => "Let's Collaborate!" %>! Let's do better together.</p>
      </div>
    </div>
    <div class="one column"></div>
  </div>
</body>