<body>
  <div class="row">
    <div class="one column"></div>
    <div class="ten columns">
      <h5>Improve your coding skills with real projects that matter.</h5>

      <p>We believe <%= link_to "coders make the best superheroes", "http://www.slideshare.net/CodeMontage/coders-as-superheroes-15284076", :target => "_blank" %>, and we know becoming a superhero isn’t easy. We also know there’s a big difference between learning to code and feeling ready to save the world. We’re here to help you get to the next level, whether it’s a new job, comfort in a new language, or skills to build your own world-saving project.</p>

      <div class="row">
        <div class="membership four columns">
          <ul class="pricing-table">
            <li class="title">Community Membership</li>
            <li class="price">Free</li>
            <li class="bullet-item"><strong>Community</strong> of our open source to change the world movement</li>
            <li class="bullet-item"><strong>Impact</strong> of coding completed by our training coders</li>
            <li class="cta-button"><%= link_to "Join Today", new_user_registration_path, :class => "radius button" %></li>
          </ul>
        </div>
        <div class="membership four columns">
          <ul class="pricing-table">
            <li class="title">Sprint Membership</li>
            <li class="price">$450/month</li>
            <li class="bullet-item"><strong>Project Matching</strong> based on your skills and goals</li>
            <li class="bullet-item"><strong>Feedback</strong> from expert coders</li>
            <li class="bullet-item"><strong>Portfolio</strong> of high quality, open source code</li>
            <li class="cta-button"><%= mail_to "hello@codemontage.com", "Join Today", :class => "radius button", :subject => "Interest in Sprint Membership" %></li>
          </ul>
        </div>
        <div class="membership four columns">
          <ul class="pricing-table">
            <li class="title">Trainer Membership</li>
            <li class="price">$45/month</li>
            <li class="bullet-item"><strong>Code Reviews</strong> on your open source social good contributions</li>
            <li class="bullet-item"><strong>Alerts</strong> to stay updated on causes and technologies you care about</li>
            <li class="cta-button"><%= mail_to "hello@codemontage.com", "Join Today", :class => "radius button", :subject => "Interest in Trainee Membership" %></li
          </ul>
        </div>
      </div>

      <div>
        </br>
        <h5>Empower your high potential team to become better coders.</h5>
        <p>We'll help your team get to the next level through real projects that align with your company's values and technology goals. We offer team training programs, group sprint memberships, and a stellar apprenticeship program to help you build a pipeline of superhero coders. <%= mail_to "hello@codemontage.com", "Contact us to learn more", :subject => "I want to train superhero coders" %>.</p>

      </div>
      
    </div>
    <div class="one column"></div>
  </div>
</body>
