<body>
  <% content_for :title do @event.name end %>

  <div class="event">
    <div id="event_welcome" class="row">
      <div class="large-10 columns large-centered text-center">
        <%= image_tag @event.logo, :alt => @event.name %>
      </div>

      <div id="event_rsvp_top" class="row">
        <div class="large-10 columns large-centered text-center">
          <%=  %>
          <% if @event.upcoming? %>
            <% if @event.eventbrite_url.present? %>
              <%= link_to "RSVP for the " + @event.name, @event.eventbrite_url, :class => "large index radius button" %>
            <% else %>
              <%= link_to "Join the " + @event.name, dashboard_path, :class => "large index radius button" %>
            <% end %>
          <% else %>
            <%= link_to "Too late! View More Events", events_path, :class => "large index radius button" %>
          <% end %>
        </div>
      </div>

      <% if @event.upcoming? %>
        <div>
          <p class="text-center"><strong>Join us <%= @event.start_date.strftime("%B %d, %Y") %> for the </strong></p>
        </div>
      <% else %>
          <p class="text-center"><strong><%= @event.start_date.strftime("%B %d, %Y") %></strong></p>
      <% end %>

      <div class="large-10 columns large-centered text-center">
        <h1><%= @event.name %></h1>
        <div class="text-left">
          <p><%=raw @event.description %><p>
        </div>
      </div>

      <% if @event.schedule.present? %>
        <div id="event_schedule" class="large-10 columns large-centered">
          <h4>Schedule</h4>
          <div class="large-10 columns large-centered">
            <ul>
              <%=raw @event.schedule %>
            </ul>
          </div>
        </div>
      <% end %>

      <div id="event_code_of_conduct" class="large-10 columns large-centered">
        <h4>Code of Conduct</h4>
        <p>
          This event is utilizing the <%= link_to "CodeMontage Code of Conduct", "/code_of_conduct" %>. <strong>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact an event organizer immediately.</strong>

          <ul class="no-bullet">
          <% if @event.lead_organizer.present? %>
            <li><strong>Lead Organizer:</strong> <%= @event.lead_organizer %>, <a href="mailto:<%= @event.lead_email %>"><%= @event.lead_email %></a></li>
          <% end %>
          <% if @event.organizer.present? %>
            <li><strong>Organizer:</strong> <%= @event.organizer %>, <a href="mailto:<%= @event.organizer_email %>"><%= @event.organizer_email %></a></li>
          <% end %>
        </p>
      </div>

      <div id="event_featured_projects" class="large-10 columns large-centered">
        <% if @featured_projects.present? %>
          <h4>Featured Projects</h4>
          <%= render partial: 'projects/project', collection: @featured_projects %>
        <% end %>
      </div>
    </div>

    <div id="event_rsvp_bottom" class="row">
      <div class="large-6 columns large-centered text-center">
        <%= %>
          <% if @event.upcoming? %>
            <% if @event.eventbrite_url.present? %>
              <%= link_to "RSVP for the " + @event.name, @event.eventbrite_url, :class => "large index radius button" %>
            <% else %>
              <%= link_to "Join the " + @event.name, dashboard_path, :class => "large index radius button" %>
            <% end %>
          <% else %>
            <%= link_to "Too late! View More Events", events_path, :class => "large index radius button" %>
          <% end %>
      </div>
    </div>

    <% if @event.sponsors.present? %>
      <div id="event_sponsors" class="row">
        <div class="large-10 columns large-centered">
          <h2><%= @event.name %> Sponsors</h2>
          <div class="sponsors row large-centered">
            <% @event.sponsors.each do |featured| %>
              <div class="large-4 columns">
                  <h5>
                  <% if find_logo?(featured) %>
                    <%= link_to (image_tag find_logo(featured)), organization_path(featured) %>
                  <% else %>
                    <%= link_to featured.name, organization_path(featured) %>
                  <% end %>
                  </h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div id="related_events" class="row">
      <div class="large-10 columns large-centered">
        <h4>Related Events</h4>

        <div id="mlkd_video" class="flex-video">
          <iframe src="//player.vimeo.com/video/85846616?byline=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p><a href="http://vimeo.com/85846616">Coder Day of Service, powered by CodeMontage</a> from <a href="http://vimeo.com/codemontage">CodeMontage</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <% content_for(:press) do %>Press<% end %>

</body>
