<body>
  <% content_for :title do @event.name end %>

  <div class="event">
    <div id="event_welcome" class="row">
      <div class="large-10 columns large-centered text-center">
        <%= image_tag @event.logo, :alt => @event.name %>
      </div>
      <div>
        <p class="text-center"><strong>Join us <%= @event.start_date.strftime("%B %d, %Y") %> for the </strong></p>
      </div>

      <div class="large-10 columns large-centered text-center">
        <h1><%= @event.name %></h1>
        <div class="text-left">
          <p><%=raw @event.description %><p>
        </div>
      </div>

      <div id="event_featured_projects" class="large-10 columns large-centered">
        <% if @featured_projects.present? %>
          <h4>Featured Projects</h4>
          <%= render partial: 'projects/project', collection: @featured_projects %>
        <% end %>
      </div>
    </div>

    <div id="event_rsvp" class="row">
      <div class="large-6 columns large-centered text-center">
        <%= %>
        <% if @event.eventbrite_url.present? %>
          <%= link_to "RSVP for the " + @event.name, @event.eventbrite_url, :class => "large index radius button" %>
        <% else %>
          <%= link_to "Join the " + @event.name, dashboard_path, :class => "large index radius button" %>
        <% end %>
      </div>
    </div>

    <% if @event.sponsors.present? %>
      <div id="event_sponsors" class="row">
        <div class="large-10 columns large-centered">
          <h2><%= @event.name %> Sponsors</h2>
          <div class="sponsors row large-centered">
            <% @event.sponsors.each do |featured| %>
              <div class="large-4 columns">
                  <h5>
                  <% if find_logo?(featured) %>
                    <%= link_to (image_tag find_logo(featured)), organization_path(featured) %>
                  <% else %>
                    <%= link_to featured.name, organization_path(featured) %>
                  <% end %>
                  </h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% content_for(:press) do %>Press<% end %>

</body>
