<div class="row project">
  <div class="project_summary large-6 columns">
    <h5><%= link_to project.name, project_path(project) %>
      <span class="favorite">
        <% if user_signed_in? %>
          <% if current_user.favorited_projects.include?(project.id) %>
            <%= link_to '<i class="fi-star"></i> '.html_safe, dashboard_path, :class => "favorited" %>
          <% else %>
            <%= button_to "Save", favorites_path(:project_id => project.id), :remote => true, :class => "favorite radius button" %>
          <% end %>
        <% else %>
          <%= link_to '<i class="fi-star"></i> '.html_safe + "Save", new_user_session_path, :target => '_blank' %>
        <% end %>
      </span>
    </h5>

    <p><%= project.description %></p>

    <ul class="no-bullet">
      <li><%= link_to '<i class="fi-social-github"></i> '.html_safe + "Code Base", project.github_url, :target => '_blank' if project.github_url.present? %></li>
      <li><%= link_to '<i class="fi-wrench"></i> '.html_safe + "Install", project.install_url, :target => '_blank' if project.install_url.present? %></li>
      <li><%= link_to '<i class="fi-page-edit"></i> '.html_safe + "Tasks", project.tasks_url, :target => '_blank' if project.tasks_url.present? %></li>
      <li><%= link_to '<i class="fi-comments"></i> '.html_safe + "Help", project.help_url, :target => '_blank' if project.help_url.present? %></li>
    </ul>
  </div>

  <div class="project_technologies large-3 columns">
    <h6>Technologies</h6>
    <%= project_tags_link_list project, 'technologies' %>
  </div>

  <div class="project_causes large-3 columns">
    <h6>Causes</h6>
    <%= project_tags_link_list project, 'causes' %>
  </div>
</div>
