<body>
  <div class="row">
    <div class="one column"></div>
    <div class="ten columns">
      <h4><%= params[:tags] + " " unless !params[:tags].present? %>Projects</h4>
      <div class="projects">
        <% if @featured_projects.present? %>
          <p>These open source, community-driven projects are making the world better and could really use your help. Check them out and contribute however you'd like. Or, view <%= link_to "organizations", organizations_path %>.
            Excited to contribute, but can't dig in right now? <%= link_to "Code Later", code_later_url %>!</p>

          <% @featured_projects.each do |project| %>
            <div class="row">
              <div class="project_summary six columns">
                <h5><%= link_to project.name, project_path(project) %>
                  <span class="favorite">
                    <% if user_signed_in? %>
                      <% if @favorite_projects.include?(project.id) %>
                        <%= link_to '<i class="general foundicon-star"></i> '.html_safe, dashboard_path, :class => "favorited" %>
                      <% else %>
                        <%= button_to "Save", favorites_path(:project_id => project.id), :remote => true, :class => "favorite tiny radius button" %>
                      <% end %>
                    <% else %>
                      <%= link_to '<i class="general foundicon-star"></i> '.html_safe + "Save", new_user_session_path, :target => '_blank' %>
                    <% end %>
                  </span>
                </h5>
                <p><%= project.description %></p>
              </div>

              <div class="project_links two columns">
                </br>
                <ul>
                  <li><%= link_to '<i class="fi-social-github"></i> '.html_safe + "Code", project.github_url, :target => '_blank' unless !project.github_url.present? %></li>
                  <li><%= link_to '<i class="fi-page-edit"></i> '.html_safe + "Tasks", project.tasks_url, :target => '_blank' unless !project.tasks_url.present? %></li>
                  <li><%= link_to '<i class="fi-social-twitter"></i> '.html_safe + "News", project.organization.twitter_url, :target => '_blank' unless !project.organization.twitter_url.present? %></li>
                </ul>
              </div>

              <div class="project_technologies two columns">
                <h6>Technologies</h6>
                <% project.technology_list.each_with_index do |tag, index| %>
                  <% if index == project.technology_list.length - 1 %>
                    <%= link_to tag, projects_path(:tags => tag) %>
                  <% else %>
                    <%= link_to tag + ", ", projects_path(:tags => tag) %>
                  <% end %>
                <% end %>
              </div>

              <div class="project_causes two columns">
                <h6>Causes</h6>
                <% project.cause_list.each_with_index do |tag, index| %>
                  <% if index == project.cause_list.length - 1 %>
                    <%= link_to tag, projects_path(:tags => tag) %>
                  <% else %>
                    <%= link_to tag + ", ", projects_path(:tags => tag) %>
                  <% end %>
                <% end %>
              </div>

            </div>
          <% end %>
        <% else %>
          <p>Oops! We can't seem to find any <%= params[:tags] %> projects. <%= link_to "View all projects", projects_path %>, or <%= link_to "view by organization", organizations_path %>.</p>
        <% end %>
      </div>
      
      <div class="resources">
        <h6>Looking for something else?</h6>
        <p>Check out our <%= link_to "resources", resources_path %> to connect with other ways to learn, code, and do good.</p>
      </div>

    </div>
    <div class="one column"></div>
  </div>
</body>
