<body>
  <div class="row">
    <div class="one column"></div>

    <div class="seven columns">
      <h4><%= link_to @project.organization.name, organization_path(@project.organization) %></h4>
      <h4><%= @project.name %></h4>
      <div id="links">
        <ul>
          <li><%= link_to '<i class="social foundicon-github"></i> '.html_safe + @project.github_display + " Code", @project.github_url, :target => '_blank' unless !@project.github_url.present? %></li>
          <li><%= link_to '<i class="general foundicon-edit"></i> '.html_safe + @project.name + " Open Tasks", @project.tasks_url, :target => '_blank' unless !@project.tasks_url.present? %></li>
        </ul>
      </div>

      <div id="summary">
        <p><%= @project.description %></p>
      </div>

      <% if @related_projects.exists? %>
        <div id="related_projects">
          <h5>Related Projects</h5>
    
          <% @related_projects.each do |project| %>
            <h6><%= link_to project.name, project_path(project) %></h6>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="three columns">
      <%= link_to image_tag(@project.organization.logo.url(:medium), :alt => @project.organization.name), @project.organization.url, :target => '_blank' unless !@project.organization.logo.url.present? %>
      
      <div id="project_causes">
        <h5>Causes</h5>
        <%= @project.cause_list %>
      </div>
      
      <div id="project_technologies">
        <h5>Technologies</h5>
        <%= @project.technology_list %>
      </div>
    </div>

    <div class="one column"></div>
  </div>
</body>