<body>
  <div class="row">
    <div class="large-8 columns">
      <h4><%= link_to @project.organization.name, organization_path(@project.organization) %></h4>
      <h4><%= @project.name %></h4>
      <div id="project_links" class="one-line">
        <ul class="no-bullet">
          <% if @project.url.present? %>
            <li><%= link_to '<i class="fi-web"></i> '.html_safe + " Website", @project.url, :target => '_blank' %></li>
          <% end %>
          <% if @project.github_url.present? %>
            <li><%= link_to '<i class="fi-social-github"></i> '.html_safe + " Code Base", @project.github_url, :target => '_blank' %></li>
          <% end %>
          <% if @project.install_url.present? %>
            <li><%= link_to '<i class="fi-wrench"></i> '.html_safe + " Install", @project.install_url, :target => '_blank' %></li>
          <% end %>
          <% if @project.tasks_url.present? %>
            <li><%= link_to '<i class="fi-page-edit"></i> '.html_safe + " Tasks", @project.tasks_url, :target => '_blank' %></li>
          <% end %>
          <% if @project.organization.twitter.present? %>
            <li><%= link_to '<i class="fi-social-twitter"></i> '.html_safe + " Project News", twitter_url(@project.organization.twitter), :target => '_blank' %></li>
          <% end %>
        </ul>
      </div>

      <div id="summary">
        <p><%= @project.description %></p>
      </div>

      <% if @related_projects.exists? %>
        <div id="related_projects">
          <h5>Related Projects</h5>

          <% @related_projects.each do |project| %>
            <h6><%= link_to project.name, project_path(project) %></h6>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag(find_logo(@project.organization), :alt => @project.organization.name), @project.organization.url, :target => '_blank' if find_logo?(@project.organization) %>

      <div id="project_causes">
        <h5>Causes</h5>
        <%= project_tags_link_list @project, 'causes' %>
      </div>

      <div id="project_technologies">
        <h5>Technologies</h5>
        <%= project_tags_link_list @project, 'technologies' %>
      </div>
    </div>
  </div>
</body>
