<div id="footer">
  <div class="footer_links row">
    <div class="ten columns centered">
      <ul class="inline-list">
        <li><%= link_to "About", our_story_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= mail_to "hello@codemontage.com", "Contact Us" %></li>
        <li><a class="wepay-widget-button wepay-custom-button" id="wepay_widget_anchor_513abd5c5fd44" href="https://www.wepay.com/donations/603637699">Donate</a></li>
        <script type="text/javascript">var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 603637699,widget_type: "donation_campaign",anchor_id: "wepay_widget_anchor_513abd5c5fd44",widget_options: {list_suggested_donations: true,allow_cover_fee: true,enable_recurring: true,allow_anonymous: true,button_text: "Show Your Support"}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}</script>
      </ul>
    </div>
  </div>
  <div class="footer_legal row">
    <div class="ten columns centered">
      <%= "© #{Time.now.year} Code for Humanity, LLC" %>
    </div>
  </div>
</div>
