<div id="footer">
  <div class="footer_links row">
    <div class="large-8 columns large-centered">
      <ul class="inline-list">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Code of Conduct", code_of_conduct_path %></li>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= mail_to "hello@codemontage.com", "Contact Us" %></li>
        <li><%= link_to "Donate", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NTA7DPFMK59QY" %></li>
      </ul>
    </div>
  </div>
  <div class="footer_legal row">
    <div class="large-6 columns large-centered">
      <ul class="inline-list">
        <li><%= link_to "Made in NYC", "http://nytm.org/made" %></li>
        <li><%= "© #{Time.now.year} Code for Humanity, LLC" %></li>
        <li><a href="https://www.iubenda.com/privacy-policy/772413" class="iubenda-black iubenda-embed" title="Privacy Policy">Privacy Policy</a></li>
        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </ul>
    </div>
  </div>
</div>
