<div id="header">
  <div class="row">
    <div class="twelve columns">
      <div class="right">
        <ul class="inline-list">
          <li class="social_media"><%= link_to '<i class="social foundicon-twitter"></i>'.html_safe, "http://twitter.com/CodeMontage" %></li>
          <li class="social_media"><%= link_to '<i class="social foundicon-facebook"></i>'.html_safe, "http://facebook.com/CodeMontage" %></li>
          <li class="social_media"><%= link_to '<i class="social foundicon-tumblr"></i>'.html_safe, "http://codemontage.tumblr.com" %></li>
          <li><%= link_to "Admin", admin_dashboard_path unless !user_signed_in? || !current_user.is_admin? %></li>
          <li><%= link_to "Dashboard", dashboard_path unless !user_signed_in? %></li>
          <li><%= link_to "Settings", edit_user_registration_path unless !user_signed_in? %></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="top-bar">
  <div class="row">
    <ul>
      <!-- For small screens, use a text title, otherwise use the logo in navigation -->
      <li class="logo hide-for-small"><%= link_to( image_tag("cm_header_logo.png", :size => "192x120"), "/") %></li>
      <li class="name show-for-small"><a href="/">CodeMontage</a></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <ul class="left">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Jobs", jobs_path %></li>
      <li><%= link_to "Events", coder_day_path %></li>
      <li><%= link_to "Our Story", our_story_path %></li>
    </ul>
    <% if !user_signed_in? %>
    <div id="sign_up">
      <ul class="left">
        <li class="cta"><%= link_to "Sign Up", "/auth/github", :class => "medium radius button" %></li>
      </ul>
    </div>
    <% end %>
  </section>
</nav>
