<div id="header">
  <div class="row">
    <div class="twelve columns">
      <div class="right">
        <ul class="inline-list">
          <li class="social_media"><%= link_to '<i class="social foundicon-twitter"></i>'.html_safe, "http://twitter.com/CodeMontage" %></li>
          <li class="social_media"><%= link_to '<i class="social foundicon-facebook"></i>'.html_safe, "http://facebook.com/CodeMontage" %></li>
          <li class="social_media"><%= link_to '<i class="social foundicon-tumblr"></i>'.html_safe, "http://codemontage.tumblr.com" %></li>
          <li><%= link_to "Dashboard", dashboard_path unless !user_signed_in? %></li>
          <li><%= link_to "Settings", edit_user_registration_path unless !user_signed_in? %></li>
          <li><%= render 'devise/menu/login_items' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="top-bar">
  <section>
    <ul>
      <!-- For small screens, use a text title, otherwise use the logo in navigation -->
      <li class="logo hide-for-small"><%= link_to( image_tag("cm_header_logo.png", :size => "192x120"), "/") %><li>
      <li class="name show-for-small"><a href="/">CodeMontage</a></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
  </section>
  <section>
    <ul class="left">
      <li><%= link_to "Explore", projects_path %></li>
      <li><%= link_to "Code", training_path %></li>
      <li><%= link_to "Benefit", our_services_path %></li>
      <li><%= link_to "Our Story", our_story_path %></li>
    <ul>
  </section>
  <section>
    <% if !user_signed_in? %>
    <div id="get_started">
      <ul class="left">
        <li><%= link_to "Get Started", new_user_registration_path %></li>
      <ul>
    </div>
    <% end %>
  </section>
</nav>
