<div id="header">
  <div class="row">
    <div class="twelve columns">
      <div class="right">
        <%= link_to "Dashboard", dashboard_path unless !user_signed_in? %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </div>
    </div>
  </div>
</div>

<nav class="top-bar">
  <section>
    <ul>
      <!-- For small screens, use a text title, otherwise use the logo in navigation -->
      <li class="logo hide-for-small"><%= link_to( image_tag("cm_header_logo.png", :size => "100x100"), "/") %><li>
      <li class="name show-for-small"><a href="/">CodeMontage</a></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
  </section>
  <section>
    <ul class="left">
      <li><%= link_to "Our Story", our_story_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Services", our_services_path %></li>
      <li><%= link_to "Training", training_path %></li>
    <ul>
  </section>
  <section>
    <% if !user_signed_in? %>
    <div id="get_started">
      <ul class="left">
        <li><%= link_to "Get Started", new_user_registration_path %></li>
      <ul>
    </div>
    <% end %>
  </section>
</nav>
