<div class="contain-to-grid">
  <% if user_signed_in? %>
  <nav class="top-bar logged-in" data-topbar>
  <% else %>
  <nav class="top-bar logged-out" data-topbar>
  <% end %>
    <ul class="title-area">
      <!-- For small screens, use a text title, otherwise use the logo in navigation -->
      <li class="logo hide-for-small"><%= link_to( image_tag("cm_header_logo.png", :size => "192x120"), "/") %></li>
      <li class="name show-for-small"><h1><a href="/">CodeMontage</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown">
          <%= link_to "Projects", projects_path %>
          <ul class="dropdown">
			<li><%= link_to "All Projects", projects_path %>
            <li><%= link_to "Project Requirements", project_requirements_path %></li>
          </ul>
        </li>
        <li><%= link_to "Jobs", jobs_path %></li>
        <li class="has-dropdown"><%= link_to "Events", events_path %>
          <ul class="dropdown">
            <% if @nav_events %>
              <% @nav_events.each do |nav_event| %>
                <li><%= link_to nav_event.name, event_path(nav_event) %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Past Events", events_path %></li>
          </ul>
        </li>
        <li><%= link_to "Our Story", our_story_path %></li>
        <% if !user_signed_in? %>
          <li class="cta"><%= link_to "Sign Up", "/auth/github", :class => "show-for-medium-up medium radius index button" %></li>
          <li><%= link_to "Sign Up", "/auth/github", class: "cta-nav hide-for-medium-up" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
