<div id="press">
  <div class="row">
    <div id="press_logos">
      <h6><strong>Press & Media Recognition</strong></h6>
      <%= link_to '', 'http://skillcrush.com/2013/06/03/its-not-a-dream-its-open-source', :target => '_blank', :class => "skillcrush two mobile-four columns" %>
      <%= link_to '', 'http://teachem.com/furtheredtv/learn/codeorgcodemontage', :target => '_blank', :class => "furthered two  mobile-four columns" %>
      <%= link_to '', 'http://www.today.com/video/today/53924117', :target => '_blank', :class => "todayshow two mobile-four columns" %>
      <%= link_to '', 'http://www.whitehouse.gov/champions/tech-inclusion', :target => '_blank', :class => "whitehouse two mobile-four columns" %>
      <%= link_to '', 'http://jobs.aol.com/articles/2013/10/07/girldevelopit-cofounder-interview', :target => '_blank', :class => "aoljobs two mobile-four columns" %>
      <%= link_to '', 'http://opensource.com/education/13/7/pre-oscon-2013', :target => '_blank', :class => "opensource two mobile-four columns" %>
    </div>
  </div>
</div>
