<div id="press">
  <div class="row">
    <div id="press_logos" class="ten columns offset-by-one">
      <ul class="inline-list">
        <li><%= link_to (image_tag "logos/skillcrush_logo.png", :alt => "Skillcrush", :size => "100x100"), 'http://teachem.com/furtheredtv/learn/codeorgcodemontage', :target => '_blank' %></li>
        <li><%= link_to (image_tag "logos/whitehouse_logo.png", :alt => "The White House", :size => "75x75"), 'http://www.whitehouse.gov/champions/tech-inclusion', :target => '_blank' %></li>
        <li><%= link_to (image_tag "logos/aol_logo.png", :alt => "AOL", :size => "50x50"), 'http://jobs.aol.com/articles/2013/10/07/girldevelopit-cofounder-interview', :target => '_blank' %></li>
        <li><%= link_to (image_tag "logos/furthered_logo.jpg", :alt => "FurtherEd TV", :size => "100x100"), 'http://teachem.com/furtheredtv/learn/codeorgcodemontage', :target => '_blank' %></li>
        <li><%= link_to (image_tag "logos/opensource_logo.png", :alt => "OpenSource.com", :size => "50x50"), 'http://opensource.com/education/13/7/pre-oscon-2013', :target => '_blank' %></li>
        <li><%= link_to (image_tag "logos/huffington_post_stacked_logo.gif", :alt => "Huffington Post", :size => "100x100"), 'http://www.huffingtonpost.com/maurya-couvares/women-in-tech_b_2831248.html', :target => '_blank' %></li>
      </ul>
    </div>
  </div>
</div>
